@charset "UTF-8";

.navbar {
    background-color: #81c7bb;
}

.rounded-circle {
    width: 350px;
    height: 350px;
}

.quem-somos {
    background-color: #a8e7e97c;
}

.margin {
    padding-top: 20px;
    padding-bottom: 15px;
}

.parceiros {
    background-color: #96cdcf;
}

.descricao {
    text-align: justify;
    padding-top: 10px;
}

.tela {
    padding-top: 0px;
    width: 100%;
    height: 60%;
}

.dp {
    background-color: #81c7bb;
    padding-top: 25px;
}